div {
    display:block;
}
div.gridElem {
    float:left;
    width:134px;
    height:134px;
    background-image:url('134GridGrBlu.png');
    background-size:134px 134px;
    background-repeat:no-repeat;
    display:inline-block;
    margin:2px;
}
img.indexGrid:hover {
    border-color:#ffffff;
}
div.detailFooter {
    clear:both;
    font-size: 10px;
    margin: 0px auto 0px auto;
    text-align:center;
}
div.gridFooter {
    font-size: 10px;
    margin: 3px auto 0px auto;
    text-align:center;
    clear:both;
}
h1.albumName {
    font-family: helvetica,arial,tahoma,verdana,sans-serif;
    font-size: 24px;
    color: #F0F0F0;
    margin:0;
    font-weight: bold;
}